/* Genric styling */
*
{
    box-sizing: border-box;
    font-family: Geneva;
}

picture, embed, object, video
{
    max-width: 100%;
}

img
{
    max-width: 100%;
    display: block;
    margin: auto;
}

inline
{
    float: left;
}


/* Header */
header
{
    height: 110px;
}

.developer-name
{
    font-size: 35px;
    margin-bottom: 7px;
    text-align: right;
}

.developer-skill
{
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 10px;
    color: #2d3c49;
    text-align: right;
}

.developer-details
{
    margin-right:10px;
}

.my-hr
{
    height: 4px;
    background-color: #7d97ad;
    border: none;
    margin-top: 3px;
    margin-bottom: 15px;
}

.udacity-logo
{
    float: left;
}

.rwd-line
{
    color: #2d3c49;
    display: inline;
}



.featured-work-text
{
    color: #7d97ad;
    font-size: 35px;
    margin-left: 5px;
}


/* Columns */
.figure-caption
{
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

.project-link
{
    text-align: center;
    word-wrap: break-word;
}


/* Footer */
footer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .social-handle
{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 33%;
    font-size: 1em;
}

.twitter-color
{
    color: #0084b4;
}

.github-color
{
    color: #333;
}

.linkedin-color
{

}

footer .social-handle p
{
    margin: 0;
}