header
{
    height: 100px;
}

.developer-name
{
    font-size: 25px;
    margin-bottom: 5px;
}

.developer-skill
{
    font-size: 20px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 5px;
}

.my-hr
{
    margin-top: 2px;
    margin-bottom: 5px;
}

.rwd-line
{
    display: block;
}

.featured-work-text
{
    font-size: 30px;
}

.figure-caption
{
    font-size: 20px;
    text-align: center;
}
