header
{
    height: 85px;
}

.developer-name
{
    font-size: 20px;
}

.developer-skill
{
    font-size: 15px;
}

.developer-details
{
    margin-right: 5px;
}

.my-hr
{
    height: 3px;
    margin-bottom: 2px;
}

.rwd-line
{
    display: block;
}

.featured-work-text
{
    font-size: 25px;
    margin-left: 3px;
    margin-bottom: 5px;
}
